# Папки
node_modules/
dist/
public/dist/

# Згенеровані файли
public/app.js
public/index.js

# Ignored
# most project files are formatted, layouts are included now
# (previously this folder was skipped when configs were copied)
# src/layout <-- removed to allow Prettier to touch .hbs templates
