/* Емулятор екрана */
.screen-emulator {
  width: 1000px;
  margin: 50px auto;
  background-color: #e0e0e0;
  border: 5px dashed #999;
  min-height: 300px;
  /* Це наш "контейнер-батько", який обмежує все */
}

/* ТВОЄ ЗАВДАННЯ: Допиши стилі нижче */
.hero-card {
  width: calc(100% - 40px);
  padding: 50px;
  border: 15px solid #333;
  margin: 20px;
  background-color: #fff;

  /* ОБОВ'ЯЗКОВО ОБЕРИ ОДИН: */
  box-sizing: border-box;
  /* box-sizing: content-box; */
  /* overflow: hidden; */
  /* overflow: auto; */
  /* overflow-y: scroll; */
}

.hero-title {
  margin: 0;
  color: #d35400;
}

.inner-box {
  background-color: #fff;
  border: 2px solid;

  padding: 10px;
  width: content;

  box-sizing: border-box;
}
