{{!--
  Default layout.
  Contains the base HTML skeleton.
  All container pages are rendered inside {{{body}}}.
--}}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{page.title}}</title>

  <!-- Project styles -->
  <link rel="stylesheet" href="/css/index.css" />

  <!-- Bootstrap CSS -->
  <link 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous"
  />
  {{!-- Bootstrap Icon --}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body>
  {{!-- Main page content --}}
  <main class="container py-4">
    {{{body}}}
  </main>

  {{!-- Footer partial --}}
  {{> footer}}

  {{!-- Bootstrap JS  --}}
  <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous">
  </script>

  {{!-- Font Awesome --}}
  <script src="https://kit.fontawesome.com/4a7d77f2b4.js" crossorigin="anonymous"></script>

</body>
</html>
